@import url('https://fonts.googleapis.com/css?family=Poppins:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.Title {
    
  font-family: 'Merriweather', serif;
    font-size: 18px;
  margin-top: 100px
}

.Notes{
  display: block;
}

.SharedNotes{
  display: none;
}

.Trash{
  display: none;
}

.Archive{
  display: none;
}