.composer-container {
    max-width: 600px;
    margin: 0 auto 32px;
  }
  
  .composer-container.edit {
    margin: 0;
    width: 700px;
  }
  
  .composer-container.edit .note-content {
    min-height: 150px;
  }
  
  .input-form {
    font-family: 'Roboto Slab', serif;
    margin:0 auto;
    text-align: center;
  }
  
  .actions {
    position: relative;
    font-size: 12px;
    text-align: right;
  }

  .close-button{
    float: right;
  }

  .title{
    text-align: center;
    font-size: 30px;
  }

  .description{
    padding: 10px;
  }

  .addIcon{
    vertical-align: -25%;
    transform: scale(0.75);
  }