@import url('https://fonts.googleapis.com/css?family=Poppins:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.filtering-section button {
    padding: 7px;
    margin-right: 7px;
}

.filtering-section input {
    padding: 7px;
    
}

.color-input-form {
    width: 100%;
}

.note-title {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  padding-top: 10px;
  font-weight: bold;
}

.note-content {
  text-align: left;
  padding: 2% 5% 5% 5%;
  word-wrap: break-word;
  overflow-y: auto;
  height: 160px;
    max-height: 180px;
  font-family: 'Poppins', serif;
  min-width: 340px;
  max-width: 340px;
}

.note-tags{
  padding-top: 8.5px;
    font-size: 16px;
    font-family: 'Oswald', serif;
    padding-bottom: 10px;
    max-width: 340px;
    overflow-x: scroll;
}

.note-list-container {
    min-height: 135%;
    min-width: 340px;
}

.note-footer {
  padding-left: 10px;
  padding-right: 10px;
  display: table-cell;
  vertical-align: bottom;
  
}

.note-footer button {
    margin-left: 0.5px;
}

.my-masonry-grid {
  display: block;
  width: 25%;
  float: left;
  display: flex;
  margin-left: 30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  margin-top: 20px;
  margin-left: 40px;
}

.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-top: 20px;
  margin-left: 30px;
  width: 175%;
  background: #ffffff;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}
