
.note-title {
  font-size: 14px;
  padding-top: 10px;
  font-weight: bold;
}

.note-content {
  text-align: left;
  padding: 5%;
  word-wrap: break-word;
  overflow-y: auto;
  height: 100px;
  font-family: 'Roboto Slab', serif;
  max-width: 350px;
}

.note-tags{
  padding-top: 10px;
}

.note-list-container {
    min-height: 100%;
}

.note-footer {
  padding-left: 10px;
  padding-right: 10px;
  display: table-cell;
  vertical-align: bottom;
  
}

.note-footer button {
    margin-left: 10px;
}

.my-masonry-grid {
  display: block;
  width: 25%;
  float: left;
  display: flex;
  margin-left: 30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  margin-top: 20px;
  margin-left: 40px;
}

.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-top: 20px;
  margin-left: 30px;
  width: 175%;
  background: #ffffff;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}
