
.note-title {
  font-size: 14px;
  font-weight: bold;
}

.note-content {
  font-family: 'Roboto Slab', serif;
}

.note-list-container {
  margin: 0 auto;
}

.my-masonry-grid {
  display: flex;

  margin-left: 30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  
}

.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-top: 20px;
  margin-left: 30px;
  background: #ffffff;;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}
